#SearchForm { margin: 10px }
#cc{ margin-top:10px; background-color:#f4f4f4; font-size:14px; padding:5px 10px; border-top: 1px dashed #999; border-bottom: 1px dashed #999; font-weight:700; clear:both; }
#cc { color:#F60;}
#cc a { color:#000;}
#cc a:hover { color:#F60;}
#bdshare {margin-left:8px;margin-right:150px;}
.bdsharebuttonbox{margin-left:10px;margin-right:100px; width:300px; float:left;}
.fhui { margin-right:20px; width: 95%; text-align: right; }
.fhui a:link { color:#F60 }
.wd dd { background: url(../image/liebiao01.gif) no-repeat left center; padding-left: 20px; font-size:14px; margin-left: 15px; line-height: 1.5em; }
.qq { background:url(../image/qq.gif) no-repeat left center; padding-left:65px; font-size:12px; color:#000; height:18px; text-decoration:none; font-weight:400; }
.pagecontent { zoom:1; clear:both; margin: 5px 0; font-size: 14px; text-align:center; padding:5px 0; font-weight: bold; line-height: 1em; display:block; }
.pagecontent a, .pagecontent span { margin:0 1px; padding:0 4px; border:3px double #fff; +border-color:#eee; background:#eee; color:#C00; text-decoration:none; display:inline;  float:left  display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.pagecontent a:hover { background:#f60; border-color:#fff;  +border-color:#f60; color:#fff;}
a.currentPageCSS { position:relative; margin:-1px 3px; padding:1px 4px; border:3px double #fff; +border-color:#f60; background:#f60; color:#fff; }
#Keyword, #SearchSubmit { float:left }
#SearchSubmit { margin-left:5px; }
#SearchForm {height:25px;}
.webnr table {margin-left: 38px;border-top: 1px solid #C96;border-left: 1px solid #C96;}
.webnr td {font-size: 14px;padding-top: 4px;padding-bottom: 2px;padding-left: 5px;background-color: #fff;line-height: 1.5em;color: #300;border-right: 1px solid #C96;border-bottom: 1px solid #C96;}